<div class="specials">
    <div class="container">
        <h2 class="main-header">	Комп'ютерні науки</h2>
        <div class="column-wrap">
            <div class="specials-column"><h3 class="main-header">бакалавр</h3>
                <p class="subject-title">Конкурсні предмети</p>
                <div class="proposes-box">
                <div class="propose"><p class="title">бюджетна пропозиція</p>
                    <ul class="propose-list">
                        <li>Українська мова та літературабали</li>
                        <li>Математикабали</li>
                        <li>Фізика або Іноземна мовабали</li>
                    </ul>
                </div>
                <div class="propose"><p class="title">небюджетна пропозиція</p>
                    <ul class="propose-list">
                        <li>Українська мова та літературабали</li>
                        <li>Історія Українибали</li>
                        <li>Математика або Географія</li>
                    </ul>
                </div>
                <div class="propose"><p class="title">Скорочений термін</p>
                    <ul class="propose-list">
                        <li>Вступне випробування (математика)</li>
                    </ul>
                </div>
                </div>
                <a href="#" class="download">освітня програма (бакалавр)</a>
            </div>
            <div class="specials-column"><h3 class="main-header">магистр</h3>
                <p class="subject-title">Конкурсні предмети</p>
                <div class="proposes-box">
                <div class="propose"><p class="title">бюджетна пропозиція</p>
                    <ul class="propose-list">
                        <li>Додаткове випробування (для інших спеціальностей)</li>
                        <li>Єдиний вступний іспит з іноземної мови</li>
                        <li>Вступне фахове випробування</li>
                    </ul>
                </div>
                </div>
                <a href="#" class="download">освітня програма (магістр)</a>
            </div>
            <div class="specials-column"><h3 class="main-header">PHD</h3>
                <p class="subject-title">Конкурсні предмети</p>
                <div class="proposes-box">
                </div>
                <a href="#" class="download">освітня програма (PhD)</a>
            </div>
        </div>
    </div>
</div>