@font-face {
  font-family: $agora;
  src: url('fonts/pfagorasanspro-reg.ttf');
}
@font-face {
  font-family: $agoralight;
  src: url('fonts/pfagorasanspro-light.ttf');
}
@font-face {
  font-family: $agorabold;
  src: url('fonts/pfagorasanspro-bold.ttf');
}

@font-face {
  font-family: $beaus;
  src: url('fonts/pfbeausanspro-reg.ttf');
}
@font-face {
  font-family: $beausbold;
  src: url('fonts/pfbeausanspro-bold.ttf');
}
