$width-max: '(min-width: 1336px)';
$width-mid: '(min-width: 920px)';
$width-sm: '(min-width: 576px)';
$width-xs: '(min-width: 480px)';

$agora: 'PFAgoraSansPro-Regular';
$agoralight: 'PFAgoraSansPro-Light';
$agorabold: 'PFAgoraSansPro-Bold';
$beaus: ' PFBeauSansPro-Regular';
$beausbold: 'PFBeauSansPro-Bold'